.loader {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  opacity: 0.5;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Msg {
  background-color: var(--background-inverted-color);
  color: var(--font-inverted-color);
  font-size: 14px;
  padding: 10px;
  border-radius: var(--border-radius2);
  position: absolute;
  top: 10%;
  animation: slideIn 5s forwards;
}

/* 애니메이션 키 프레임 정의 */
@keyframes slideIn {
  0% {
    opacity: 0.3;
  }

  20% {
    opacity: 1;
    transform: translate(0%, 100%);
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0%, 100%);
  }
}
